@model UserListViewModel

@{
    ViewData["Title"] = "Listado de usuarios";
    Layout = "../shared/_layout";
}

<h1>Listado de usuarios</h1>

@if (TempData["Message"] is not null)
{
    <div class="alert alert-success" role="alert">
        <strong>✅ Éxito:</strong> @TempData["Message"]
    </div>
}

@if (TempData["ErrorMessage"] is not null)
{
    <div class="alert alert-danger fw-bold text-danger border border-danger p-2">
        <i class="bi bi-exclamation-triangle-fill"></i> 
        ⚠️ <strong>Error:</strong> @TempData["ErrorMessage"]
    </div>
}

@if (Model.UserList is not null)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Acción</th>
                <th>User</th>
                <th>Email</th>
                <th>Roles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model.UserList)
            {
                <tr>
                    <td>
                        @foreach (var role in usuario.Roles)
                        {
                            <span class="badge bg-info">@role</span>

                            <form method="post" class="d-inline" asp-action="QuitarRol" asp-route-email="@usuario.Email" asp-route-rol="@role">
                                <button type="submit" class="btn btn-warning btn-sm me-2">Quitar @role</button>
                            </form>
                        }
                        
                        <form method="post" class="d-inline" asp-action="AsignarRol" asp-route-email="@usuario.Email">
                            <select name="roleToAssign" class="form-control form-control-sm">
                                @foreach (var role in Model.ListadeRoles) 
                                {
                                    <option value="@role">@role</option>
                                }
                            </select>
                            <button type="submit" class="btn btn-success btn-sm me-2">Asignar Rol</button>
                        </form>
                    </td>
                    <td>@usuario.User</td>
                    <td>@usuario.Email</td>
                    <td>
                        @foreach (var role in usuario.Roles)
                        {
                            <span class="badge bg-info">@role</span>
                        }
                    </td>
                    <td>
                        @if (!usuario.Roles.Contains("ADMIN"))
                        {
                            <form method="post" class="d-inline" asp-action="EliminarUsuario" asp-route-email="@usuario.Email">
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hay usuarios para mostrar</p>
}
