@using DesarrollodeProyectos.Identity
@model List<SweaterModel>
@{
    ViewData["Title"] = "Lista de Suéteres";
    int numero = 0;
}

<h1 style="text-align: center;">@ViewData["Title"]</h1>
<a class="btn btn-outline-primary" asp-action="SweaterAdd" asp-asp-controller="Sweater">Agregar Suéter</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Color</th>
            <th scope="col">Tamaño</th>
            <th scope="col">Material</th>
            <th scope="col">Categoría</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Imagen</th>
            <th scope="col">Fecha de Registro</th> <!-- Nueva columna para la fecha -->
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sweater in Model)
        {
            numero++;
            <tr>
                <th scope="row">@numero</th>
                <td>@sweater.Name</td>
                <td>@sweater.Color</td>
                <td>@(sweater.Size != null ? sweater.Size.Name : "Tamaño no disponible")</td> <!-- Validación para Size -->
                <td>@(sweater.Material != null ? sweater.Material.Name : "Material no disponible")</td> <!-- Validación para Material -->
                <td>@(sweater.Category != null ? sweater.Category.Name : "Categoría no disponible")</td> <!-- Validación para Category -->
                <td>@sweater.Quantity</td>
                <td>@sweater.Price</td>
                <td>
                    @if (!string.IsNullOrEmpty(sweater.ImageUrl))
                    {
                        <img src="@sweater.ImageUrl" alt="Imagen del Suéter" style="width: 100px;height: 100px; object-fit: cover;" />
                    }
                </td>
                <td>@sweater.CreationTime.ToString("dd/MM/yyyy")</td>
                <td>
                    <a class="btn btn-outline-info" asp-action="SweaterEdit" asp-controller="Sweater" asp-route-id="@sweater.Id">Editar</a>
                    <a class="btn btn-outline-danger" asp-action="SweaterDeleted" asp-controller="Sweater" asp-route-id="@sweater.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
