@model List<DesarrollodeProyectos.Identity.MaterialModel>

@{
    ViewData["Title"] = "Lista de Materiales";
    int numero = 0;
}

<h1 style="text-align: center;">@ViewData["Title"]</h1>

<p>
    <a href="@Url.Action("MaterialAdd", "Material")" class="btn btn-outline-primary">Agregar Nuevo Material</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var material in Model)
        {
            numero++;
            <tr>
                <th scope="row">@numero</th>
                <td>@material.Name</td>
                <td>@material.Description</td>
                <td>
                    <a href="@Url.Action("MaterialEdit", "Material", new { id = material.Id })" class="btn btn-outline-info btn-sm">Editar</a>
                    <a href="@Url.Action("MaterialDelete", "Material", new { id = material.Id })" class="btn btn-outline-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar este material?');">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
